In [1]:
import random as rn

## random()
Returns a float random number between 0.0 and 1.0

In [2]:
n = rn.random()
n

0.8380561927784129

## randint()
Used togenerate random integer values

In [3]:
n = rn.randint(1, 10)   # 1 : 19
n

5

## randrange()
Returns a random based on the parameters supplied; as we can see, it has three parameters

randrange(Begin, End, Step)
- Begin: This parameter says from where to begin. It will be included in the range
- End: This parameter says where to stop. It is excluded from the range
- Step: It is to skip numbers in range

In [4]:
n = rn.randrange(100)
n

36

In [5]:
n = rn.randrange(1, 100, 2)
n

49

In [6]:
n = rn.randrange(0, 100, 2)
n

92

## uniform(a, b)
Returns a random number between two points a and b

In [7]:
n = rn.uniform(2, 5)
n

2.678055397491304

## choice() & choices()
Return random numbers from nonempty sequences like list, tuple, string.

In [8]:
n = rn.choice([1, 18, -3, 41, 5])
n

5

In [9]:
n = rn.choice("mazen ahmed")
n

'e'

In [10]:
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
n = rn.choices(data)
n

[1]

In [11]:
n = rn.choices(data, k = 3)
n

[1, 2, 1]

In [12]:
n = rn.choices(data, weights = [2, 5, 5, 1, 1, 1, 4, 5, 1, 5], k = 5)
n

[6, 5, 8, 4, 8]

## sample()	
Returns a given sample of a sequence

In [13]:
n = rn.sample([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 3)
n

[5, 1, 8]

In [14]:
n = rn.sample(range(100), 4)
n

[77, 91, 22, 9]

In [15]:
n = rn.sample("mazen ahmed", 5)
n

['a', 'n', 'z', ' ', 'm']

## shuffle()	
Takes a sequence and returns the sequence in a random order

In [16]:
listOfData = [1, 2, 3, 4, 5]
rn.shuffle(listOfData)
listOfData

[2, 4, 3, 1, 5]